{{>layout/header}}
<h1>영남대학교 중고거래 사이트</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/posts/save" role="button"
               class="btn btn-primary">글 등록</a>
            {{#userName}}
                Login: <span id="user">{{userName}}</span>
                {{#point}}
                    <span style="text-align:right"> point: {{point}} </span>
                    <a href="/deposit/{{userName}}" class="btn btn-info active" role="button">충전</a>
                {{/point}}
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            {{/userName}}

            {{^userName}}
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">
                    Login
                </a>
            {{/userName}}
        </div>
    </div>
    <br>
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>게시글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>최종수정일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#posts}} {{#userId}}
            <tr>
                <td>{{id}}</td>
                <td><a href="/posts/update/{{id}}/{{userId}}">{{title}}</a></td>
                <td>{{author}}</td>
                <td>{{modifiedDate}}</td>
            </tr>
        {{/userId}} {{/posts}}
        </tbody>
    </table>
</div>
{{>layout/footer}}