{{>layout/header}}

<h1>게시글 조회</h1>

<div class="col-md-12">
    <div class="col-md-4 left">
        <form>
            <div class="form-group">
                <label for="id">글 번호</label>
                <input type="id" id="postId" value="{{post.id}}" hidden>
                <pre class="form-control">{{post.id}}</pre>
            </div>
            <div class="form-group">
                <label for="title">제목</label>
                <pre class="form-control">{{post.title}}</pre>
            </div>
            <div class="form-group">
                <label for="author"> 작성자</label>
                <pre class="form-control">{{post.author}}</pre>
            </div>
            <div class="form-group">
                <label for="price">가격</label>
                <pre class="form-control">{{post.price}}</pre>
                <input type="Number" id="price" value="{{post.price}}" hidden>
            </div>
            <div class="form-group">
                <label for="content"> 내용</label>
                <pre class="form-control">{{post.content}}</pre>
            </div>
        </form>
        <a href="/" role="button" class="btn btn-secondary">취소</a>
    </div>
    <div class="right">
        <input type="number" id="point" value="{{user.point}}" hidden>
        <input type="number" id="userId" value="{{user.id}}" hidden>
        현재 상태:
        <pre class="btn btn-info">{{state}}</pre>
        구매 신청자:
        <pre class="btn btn-info">{{count}} 명</pre><br>
        내 point:
        <pre class="btn">{{user.point}}</pre> <br><br>
        <button type="button" class="btn btn-primary" id="btn-buy">구매</button>

        {{#isONGOING}}
            <td><button type="button" class="btn btn-primary" id="btn-deal">거래최종완료</button></td>
        {{/isONGOING}}
    </div>
</div>


{{>layout/footer}}